body{

	background:url(../img/bg.jpg);


}

footer{
	position: fixed;
	bottom:0px;
	left:0px;
	width:100%;
	border:1px solid #282828;
	background-color: #000;
}

.col_9{
	border:1px solid #282828;
	height:450px;
	background-color: rgb(255,255,255);
}

.col_3{
	width: 30.333333333333%;
	margin-left: 0.83333333333333%;
	margin-right: 0.83333333333333%;
	margin-top:8px;
	margin-bottom:8px;
	float: left;
	display: block;
	
	

}

button.blue{
color:#fff;
background-color: #3D5AFF;
margin-top:15px;
font-size:18px;
border:1px solid #9BDFFA;

}

button.blue:hover{
color:#000;
background-color: #cc0000;


}
button.blue:active{
color:#000;
background-color: #cc0000;
margin-top:18px;
margin-left:5px;
border:1px solid #282828;

}

#table{
	background-color: rgb(255,255,255);
	
}

#table td{
	border:1px dotted #3D5AFF;
	padding: 10px;
}

#bla{
	background-color:#3D5AFF;
	color:#fff;

}

.hint{
	margin:10px;
	font-size:18px;
	color:#3D5AFF;
}

.user{
	border:1px solid #282828;
	width:30%;
	margin:20px;
	padding: 20px;
	background: #3D5AFF;
	color:#fff;
	display: block;
	float: left;
	border-radius:5px;
}
.user p{
	margin: 10px;
	border-bottom:1px solid black;
	padding-bottom: 5px;
	font-size:20px;

}

.nav{
	border:1px solid #282828;
	width:20%;
	margin:0px;
	padding: 20px;
	background: #3D5AFF;
	color:#fff;
	display: block;
	float: left;
}
#image{
	max-width:400px;
	max-height:400px;
	border:2px solid #3D5AFF ;
}